# Port to listen

PORT=3000

# Debug level

LOGGER_LEVEL=info

# Put your JWT secret here

JWT_SECRET=

# Timeout, in milliseconds, to expire the session and the cart

CART_EXPIRATION_TIME=7200000 #2 hours

# Token expiration time. 2 hours

TOKEN_EXPIRATION_TIME = 7200000

REDIS_URL=redis://localhost:6379
DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/shoppingcart
APP_BASE_URL=localhost:3000

# Configuration for Open Telemetry

OTEL_SERVICE_NAME=shoppingcart
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_EXPORTER_OTLP_ENDPOINT="https://api.honeycomb.io"
OTEL_EXPORTER_OTLP_HEADERS=

# Email server configuration

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_FROM_NAME=Cart Service
MAIL_FROM_ADDRESS=
