#Port to listen
PORT=3000

#Debug level
LOGGER_LEVEL=info

# Put your JWT secret here
JWT_SECRET=

#Timeout, in milliseconds, to expire the session and the cart
CART_EXPIRATION_TIME=7200000 #2 hours

REDIS_URL=redis://localhost:6379

#Configuration for Open Telemetry
OTEL_SERVICE_NAME=
OTEL_EXPORTER_OTLP_PROTOCOL=
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_HEADERS=