# Port to listen

PORT="3000"

# Debug level

LOGGER_LEVEL="info"

# Put your JWT secret here

JWT_SECRET="put_your_secret_here"

# Timeout, in milliseconds, to expire the session and the cart

CART_EXPIRATION_SECONDS="7200" #2 hours

# Token expiration time. 2 hours

TOKEN_EXPIRATION_SECONDS="7200"

REDIS_URL="redis://localhost:6379"
DATABASE_URL="postgres://postgres:postgres@127.0.0.1:5432/shoppingcart"
APP_BASE_URL="http://localhost:3000"
CORS_ORIGIN="http://localhost:3000"

# Configuration for Open Telemetry

OTEL_SERVICE_NAME="shoppingcart"
OTEL_EXPORTER_OTLP_PROTOCOL="http/protobuf"
OTEL_EXPORTER_OTLP_ENDPOINT="https://api.honeycomb.io"
OTEL_EXPORTER_OTLP_HEADERS="put_your_token_here"

# Email server configuration

MAIL_HOST="sandbox.smtp.mailtrap.io"
MAIL_PORT="587"
MAIL_USER="your-user"
MAIL_PASS="your-pass"
MAIL_FROM_NAME="Cart Service"
MAIL_FROM_ADDRESS="noreply@test.com"
